body a{
    text-decoration: none;
    color: black;
}
img{
    height: 500px;
    object-fit: cover; 
    border-radius: 10%;   
}
h1,h3{
    text-align: center;
}
.card-price{
    font-weight: bolder;
}
.fiche_produits p{
    text-align: center;
}
.col-12{
    margin: auto;
}
.btn-primary{
    margin-top: 20px;
}